
name: Test

on:
  push:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:

jobs:
    
  job-public-repo-ubuntu:
    runs-on: ubuntu-latest
    steps:
      
      - name: Cloning
        run: |
          git clone https://github.com/a02-trial/BR_kernel_a02.git
        shell: bash
